@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "CeraPro", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 20px;
  font-size: 16px;
  color: #1e1744;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "CeraPro";
  font-display: swap;
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("O"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  font-display: swap;
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("O"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 1920px;
  background: #fff;
  position: relative;
}

.contacts {
  display: flex;
  flex-wrap: nowrap;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 13px;
}

.contacts__list ul {
  display: flex;
  justify-content: space-between;
}

.contacts__list li {
  margin-right: 52px;
}

.contacts__list li:last-child {
  margin: 0;
  margin-right: 142px;
}

.contacts__list li:first-child {
  margin-left: 43px;
}

.contacts__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aeacbc;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.005em;
}

.contacts__data img {
  margin-right: 7px;
}

.contacts .phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #1e1744;
}

.contacts__language {
  display: flex;
  align-items: center;
  margin-left: 92px;
  font-size: 16px;
  line-height: 20px;
  color: #1e1744;
}

.contacts-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts-item:first-child {
  margin-right: 36px;
}

.contacts-item:nth-child(2) {
  margin-right: 50px;
}

nav {
  margin: 0 auto;
  display: flex;
  height: 125px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  text-transform: uppercase;
  margin-right: 40px;
}

.menu ul li a img {
  margin-left: 9px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

.logo {
  display: flex;
  align-items: start;
}

.logo img {
  width: 78.72px;
  margin-left: 230px;
  margin-right: 68px;
  margin-top: 14px;
}

.another {
  display: flex;
  align-items: center;
}

.call {
  display: flex;
  align-items: center;
}

.call img {
  border: 1px solid #1e1744;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 12px;
  margin-left: 52px;
  margin-right: 21px;
}

button {
  border: none;
  color: #fff;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  background: #f40808;
  border-radius: 2px;
}

.main {
  margin: 0 auto;
}

.mySlides {
  display: none;
}

.numbertext {
  position: absolute;
  left: 484px;
  top: 213px;
  z-index: 3;
}

.numbertext span {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
}

.title {
  position: absolute;
  top: 293px;
  left: 418px;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: #1e1744;
  z-index: 3;
}

.descr {
  position: absolute;
  top: 341px;
  left: 418px;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  color: #1e1744;
  z-index: 3;
}

.prev {
  position: absolute;
  left: 418.5px;
  top: 211.5px;
  z-index: 3;
  width: 39px;
  height: 39px;
  cursor: pointer;
}

.next {
  position: absolute;
  left: 542.5px;
  top: 211.5px;
  z-index: 3;
  width: 39px;
  height: 39px;
  cursor: pointer;
}

.block-white {
  position: absolute;
  width: 560px;
  height: 458px;
  background: #fff;
  left: 377px;
  top: 160px;
  display: flex;
  align-items: flex-end;
}

.link {
  display: flex;
  left: 377px;
  top: 618px;
  position: absolute;
  width: 1155px;
  height: 147.5px;
  background: #fff;
  z-index: 2;
}

.link-media {
  background: url("../img/mass-media.png") 0 0/contain no-repeat;
  position: relative;
  width: 164px;
  height: 147px;
}

.link-media p {
  margin: 0;
  position: absolute;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 27px;
  line-height: 34px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: rgba(244, 8, 8, 0.85);
}

.link-events {
  position: relative;
  background: #1d1642;
  width: 396px;
  height: 147px;
  padding: 56px 97px 56px 123px;
}

.link-events p {
  position: absolute;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
  font-size: 27px;
  line-height: 34px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.link-news {
  display: flex;
  position: relative;
}

.link-news__busines {
  position: relative;
  width: 297px;
}

.link-news__busines p {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 27px;
  line-height: 34px;
  color: #282144;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.link-news__seporator {
  margin-top: 25px;
  width: 1px;
  height: 100px;
  background: #e3e2e8;
}

.link-news__new {
  position: relative;
  width: 297px;
  padding: 27px 0 0 47px;
}

.link-news__new .title {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #3d5695;
  z-index: 3;
  top: 27px;
  left: 47px;
}

.link-news__new .descr {
  position: absolute;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #1e1744;
  z-index: 3;
  left: 46px;
  top: 58px;
}
