@import "_nullStyle.scss";

@font-face {
    font-family: "CeraPro";
    font-display: swap;
    src: url("../fonts/CeraPro-Regular.eot");
    src: local("O"), url("../fonts/CeraPro-Regular.woff") format("woff"),
        url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "CeraPro";
    font-display: swap;
    src: url("../fonts/CeraPro-Medium.eot");
    src: local("O"), url("../fonts/CeraPro-Medium.woff") format("woff"),
        url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
.container {
    margin: 0 auto;
    width: 1920px;
    background: #fff;
    position: relative;
}
.contacts {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 13px;
        & ul {
            display: flex;
            justify-content: space-between;
        }
        & li {
            margin-right: 52px;
            &:last-child {
                margin: 0;
                margin-right: 142px;
            }
            &:first-child {
                margin-left: 43px;
            }
            & a {
                text-decoration: none;
            }
            & a:visited,
            & a:link,
            & a:active {
                text-decoration: none;
                color: #1e1744;
            }
        }
    }

    &__data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #aeacbc;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.005em;
        & img {
            margin-right: 7px;
        }
    }
    .phone {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #1e1744;
    }

    &-language {
        display: flex;
        align-items: center;
        margin-left: 92px;
        font-size: 16px;
        line-height: 20px;
        color: #1e1744;
    }
}
.contacts-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:first-child {
        margin-right: 36px;
    }
    &:nth-child(2) {
        margin-right: 50px;
    }
}
nav {
    margin: 0 auto;
    display: flex;
    height: 125px;
}
.menu {
    display: flex;
    align-items: center;
    & ul {
        display: flex;
        justify-content: space-between;
        & li {
            text-transform: uppercase;
            margin-right: 40px;
            & a {
                text-decoration: none;
            }
            & a:visited,
            & a:link,
            & a:active {
                text-decoration: none;
                color: #1e1744;
            }
            & a img {
                margin-left: 9px;
            }
        }
    }
}

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown-content a {
    float: none;
    color: #1e1744;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.show {
    display: block;
}
.logo {
    display: flex;
    align-items: start;
    & img {
        width: 78.72px;
        margin-left: 230px;
        margin-right: 68px;
        margin-top: 14px;
    }
}
.another {
    display: flex;
    align-items: center;
}
.call {
    display: flex;
    align-items: center;
    & img {
        border: 1px solid #1e1744;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 12px;
        margin-left: 12px;
        margin-right: 21px;
    }
}
button {
    border: none;
    color: #fff;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    background: #f40808;
    border-radius: 2px;
}

.main {
    margin: 0 auto;
}
.mySlides {
    display: none;
}

.numbertext {
    position: absolute;
    left: 25.2%;
    top: 27.8%;
    z-index: 3;
    & span {
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
    }
}
.title {
    position: absolute;
    top: 38.3%;
    left: 21.8%;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #1e1744;
    z-index: 3;
}
.descr {
    position: absolute;
    top: 44.6%;
    left: 21.8%;
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    color: #1e1744;
    z-index: 3;
}
.prev {
    position: absolute;
    left: 21.8%;
    top: 27.6%;
    z-index: 3;
    width: 39px;
    height: 39px;
    cursor: pointer;
}

.next {
    position: absolute;
    left: 28.3%;
    top: 27.6%;
    z-index: 3;
    width: 39px;
    height: 39px;
    cursor: pointer;
}
.block-white {
    position: absolute;
    width: 29.2%;
    height: 59.9%;
    background: #fff;
    left: 19.6%;
    top: 20.9%;
    display: flex;
    align-items: flex-end;
}
.link {
    display: flex;
    left: 19.6%;
    top: 80.8%;
    position: absolute;
    width: 1155px;
    height: 19.3%;
    background: #fff;
    z-index: 2;
}
.link-media {
    background: url("../img/mass-media.png") 0 0 / contain no-repeat;
    position: relative;
    width: 164px;
    & p {
        margin: 0;
        position: absolute;
        border: none;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 27px;
        line-height: 34px;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}
.color-overlay {
    width: 100%;
    height: 100%;
    background: rgba(244, 8, 8, 0.85);
}
.link-events {
    position: relative;
    background: #1d1642;
    width: 396px;
    padding: 56px 97px 56px 123px;
    & p {
        position: absolute;
        border: none;
        color: #fff;
        text-align: center;
        text-decoration: underline;
        font-weight: 500;
        font-size: 27px;
        line-height: 34px;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}
.link-news {
    display: flex;
    position: relative;
    &__busines {
        position: relative;
        width: 297px;
        & p {
            position: absolute;
            text-align: center;
            font-weight: 500;
            font-size: 27px;
            line-height: 34px;
            color: #282144;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    }

    &__seporator {
        margin: auto;
        width: 1px;
        height: 70px;
        background: #e3e2e8;
    }

    &__new {
        position: relative;
        width: 297px;
        padding: 27px 0 0 47px;
        & .title {
            position: absolute;
            font-size: 16px;
            line-height: 20px;
            font-weight: normal;
            color: #3d5695;
            z-index: 3;
            top: 27px;
            left: 47px;
        }
        & .descr {
            position: absolute;
            font-weight: normal;
            font-size: 17px;
            line-height: 21px;
            color: #1e1744;
            z-index: 3;
            left: 46px;
            top: 58px;
        }
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 100%;
    }
    .contacts {
        width: 100%;
        flex-direction: column;

        &__list {
            justify-content: space-around;
            & li {
                margin-right: 0;
            }
        }
        &-language {
            margin-left: 0;
        }
        &__data {
            justify-content: space-around;
        }
    }
    .contacts-item {
        align-items: center;
        &:first-child {
            margin-right: 0px;
        }
        &:nth-child(2) {
            margin-right: 0px;
        }
    }
    .logo {
        & img {
            margin-left: 30px;
            margin-right: 30px;
        }
    }
    .menu {
        & ul li {
            margin-right: 20px;
        }
    }
    nav {
        height: 100px;
    }
    .link {
        width: 960px;
    }
    .link-events {
        width: 370px;
    }
    .link-news {
        &__new {
            width: 240px;
            & .title {
                top: 13px;
                left: 21px;
            }
            & .descr {
                position: absolute;
                font-weight: normal;
                font-size: 17px;
                line-height: 21px;
                color: #1e1744;
                z-index: 3;
                left: 20px;
                top: 35px;
            }
            &__busines {
                width: 240px;
            }
        }
    }
    .link-events {
        padding: 0px;
    }
    .title {
        font-size: 32px;
        line-height: 40px;
        color: #1e1744;
        z-index: 3;
    }
    .descr {
        font-size: 30px;
        line-height: 38px;
        color: #1e1744;
        z-index: 3;
    }
}
@media (max-width: 1024px) {
    .logo {
        & img {
            margin-left: 10px;
            margin-right: 10px;
            width: 50px;
            margin-top: 5px;
        }
    }
    .call img {
        margin-right: 12px;
        padding: 6px;
    }
    button {
        padding: 5px 13px;
        font-size: 12.5px;
    }
    .menu {
        & ul li {
            margin-right: 10px;
            font-size: 12.5px;
        }
    }
    nav {
        height: 60px;
    }
    .img1 img {
        width: 60px;
    }
    .img2 img {
        width: 60px;
    }
    .numbertext {
        font-size: 14px;
        & span {
            font-size: 20px;
        }
    }
    .prev img {
        width: 33px;
        margin-right: 10px;
    }
    .next img {
        width: 33px;
        margin-left: 10px;
    }
    .link {
        width: 650px;
    }
    .link-events {
        & p {
            font-size: 20px;
        }
    }
    .link-media {
        & p {
            font-size: 20px;
        }
    }
    .link-news {
        &__new {
            width: 175px;
            & .title {
                top: 10px;
                left: 10px;
                font-size: 13px;
                line-height: 15px;
            }

            & .descr {
                font-size: 13px;
                line-height: 15px;
                left: 10px;
                top: 30px;
            }
        }
    }
    .link-news__seporator {
        height: 50px;
    }

    .link-news__busines {
        width: 175px;
        & p {
            font-size: 20px;
        }
    }
    .link-events {
        padding: 0px;
    }
    .title {
        font-size: 22px;
        line-height: 30px;
    }
    .descr {
        font-size: 20px;
        line-height: 28px;
    }
}
